div{
    display: flex;
    gap:50px;
    margin-top: 20px;
    border: none;
    justify-content: center;
}
#b-1{
padding: 10px 30px 10px 30px;
background-color: rgb(53, 50, 133);
color: white;
border: none;
transition: background-color 1s;
}
#b-1:hover{
background-color: white;
color:rgb(53, 50, 133);
border-color: rgb(53, 50, 133);
border-style:solid;
}
#b-2{
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: rgb(3, 81, 62);
    border: none;
    transition: background-color 1s;
}
#b-2:hover{
    border-style:solid;
    background-color: white;
    color: rgb(3, 81, 62);
}
#b-3{
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: rgb(215, 108, 0);
    border: none;
    transition: background-color 1s;
}
#b-3:hover{
    border-style:solid;
    background-color: white;
    color: rgb(215, 108, 0);
}
#b-4{
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: rgb(173, 0, 0);
    border: none; 
    transition: background-color 1s;
}#b-4:hover{
    border-style:solid;
    background-color: white;
    color: rgb(173, 0, 0);
}
#b-5{
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 30px;
    background-color: rgb(53, 50, 133);
    border: none;
    transition: background-color 1s;
}
#b-5:hover{
    background-color: white;
color:rgb(53, 50, 133);
border-color: rgb(53, 50, 133);
border-style:solid;
}
#b-6{
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 30px;
    background-color: rgb(3, 81, 62);
    border: none;
    transition: background-color 1s;
}
#b-6:hover{
    border-style:solid;
    background-color: white;
    color: rgb(3, 81, 62);
}
#b-7{
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 30px;
    background-color: rgb(215, 108, 0);
    border: none;
    transition: background-color 1s;
}
#b-7:hover{
    border-style:solid;
    background-color: white;
    color: rgb(215, 108, 0);
}
#b-8{
    padding: 10px 30px 10px 30px;
    color: white;
    border-radius: 30px;
    background-color: rgb(173, 0, 0);
    border: none;
    transition: background-color 1s;
}
#b-8:hover{
    border-style:solid;
    background-color: white;
    color: rgb(173, 0, 0);
}
#b-9{
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: rgb(53, 50, 133);
    border-color: rgb(53, 50, 133);
    transition: background-color 1s;

}#b-9:hover{
    border: none;
    background-color: rgb(53, 50, 133);
    color: white;
}
#b-10{
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: rgb(3, 81, 62);
    border-color: rgb(3, 81, 62);
    transition: background-color 1s;
}
#b-10:hover{
    border: none;
    background-color: rgb(3, 81, 62);
    color: white;


}
#b-11{
    padding: 10px 30px 10px 30px;
    background-color: white;
    color:rgb(215, 108, 0);
    border-color:rgb(215, 108, 0);
    transition: background-color 1s;
}
#b-11:hover{
    border: none;
    background-color: rgb(215, 108, 0);
    color: white;


}
#b-12{
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: rgb(173, 0, 0);
    border-color: rgb(173, 0, 0);
    transition: background-color 1s;

}
#b-12:hover{
    border: none;
    background-color: rgb(173, 0, 0);
    color: white;
}